<div class="container my-4">
    <p class="font-weight-bold">To-Do List</p>
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check1" checked>
          <label class="custom-control-label" for="check1">Added Routes</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check2" checked>
          <label class="custom-control-label" for="check2">Added Form</label>
        </div>
      </li>
      
      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check8" checked>
          <label class="custom-control-label" for="check8">Added Http</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check3">
          <label class="custom-control-label" for="check3">Added NgRx for State Management</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check4">
          <label class="custom-control-label" for="check4">Dapper to access SQL Database using Repository Patter</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check5" checked>
          <label class="custom-control-label" for="check5">Use three layer architecture in API</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check6">
          <label class="custom-control-label" for="check6">Log the Input and Output from API in Serilog</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check7">
          <label class="custom-control-label" for="check7">Enable Elmah for enception handling</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check9" checked>
          <label class="custom-control-label" for="check9">Added Swagger and JWT</label>
        </div>
      </li>

      <li class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check10" checked>
          <label class="custom-control-label" for="check10">Added Migration, DB Connection</label>
        </div>
      </li>

    </ul>
  </div>